:root
  font-family: "monospace"
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  --background-color: #101014
  --title: rgba(255, 255, 255, 0.9)
  --semi-title: #ff9f5a
  --theme-button: #63e2b7
  --semi-title-decoration: green wavy underline

// // Apply heading color via CSS variable (Naive UI headings use .n-h1 ... .n-h6)
// .n-h1, .n-h2, .n-h3, .n-h4, .n-h5, .n-h6
//   color: var(--semi-title)
// html, body
//   scrollbar-gutter: stable

.squid-text
  color: #cecece

.squid-text-alt
  color: #828282

.squid-description
  color: #1ba59f

.squid-title
  color: var(--title)
  font-weight: bold

.squid-semi-title
  color: var(--semi-title)
  font-weight: bold
  text-decoration: var(--semi-title-decoration)

.squid-highlight
  color: wheat

.squid-ink
  color: #007cff

.squid-good
  color: #72ff2c

.squid-bad
  color: #ff0606

.n-a 
  --n-text-color: #007cff !important
  text-decoration: none


























  


// font and colors somehow inspired randomly by https://myporn.club/